/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(0, 0%, 8%);
  padding: 300px 400px;
  font-size: 14px;
  display: flex;
  margin: 50px 200px;
}
.flex-container {
  background-color: hsl(0, 0%, 12%);
  border-radius: 1.5rem;
  padding: 50px 20px 20px;
  text-align: center;
}

img {
  width: 40%;
  border-radius: 100px;
  margin: auto;
  display: block;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}
h2 {
  color: hsl(75, 94%, 57%);
  margin-top: 8px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

p {
  color: hsl(0, 0%, 100%);
  margin: 20px;
  font-family: "Inter", sans-serif;
}
.categories {
  background-color: hsl(0, 0%, 20%);
  font-family: "Inter", sans-serif;
  border-radius: 1rem;
}

.social {
  color: hsl(0, 0%, 100%);
  padding: 15px 10px;
  /*border:solid 8px hsl(0, 0%, 12%);*/
}
